Static {
    height: 1fr;
    text-wrap: nowrap;
}

#static1 {
    text-overflow: clip;
    background: red 20%;
}
#static2 {
    text-overflow: fold;
    background: green 20%;
}
#static3 {
    text-overflow: ellipsis;
    background: blue 20%;
}

